statemachines/expired_tasks.asl.json
{
    "Comment": "Workflow for handling expired tasks",
    "StartAt": "UpdateTaskStatus",
    "States": {
        "UpdateTaskStatus": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Parameters": {
                "TableName": "${TasksTable}",
                "Key": {
                    "task_id": {
                        "S.$": "$.task_id"
                    }
                },
                "UpdateExpression": "SET #status = :status, #expired_at = :expired_at",
                "ExpressionAttributeNames": {
                    "#status": "status",
                    "#expired_at": "expired_at"
                },
                "ExpressionAttributeValues": {
                    ":status": {
                        "S": "expired"
                    },
                    ":expired_at": {
                        "S.$": "$$.State.EnteredTime"
                    }
                },
                "ReturnValues": "ALL_NEW"
            },
            "ResultPath": "$.dynamodbResult",
            "Next": "PrepareNotifications"
        },
        "PrepareNotifications": {
            "Type": "Pass",
            "Parameters": {
                "task_id.$": "$.dynamodbResult.Attributes.task_id.S",
                "name.$": "$.dynamodbResult.Attributes.name.S",
                "responsibility.$": "$.dynamodbResult.Attributes.responsibility.S",
                "status": "expired",
                "expired_at.$": "$.dynamodbResult.Attributes.expired_at.S",
                "notifications": {
                    "user": {
                        "task_id.$": "$.dynamodbResult.Attributes.task_id.S",
                        "name.$": "$.dynamodbResult.Attributes.name.S",
                        "status": "expired",
                        "message": "Task has expired",
                        "expired_at.$": "$.dynamodbResult.Attributes.expired_at.S",
                        "responsibility.$": "$.dynamodbResult.Attributes.responsibility.S"
                    },
                    "admin": {
                        "task_id.$": "$.dynamodbResult.Attributes.task_id.S",
                        "name.$": "$.dynamodbResult.Attributes.name.S",
                        "status": "expired",
                        "message": "Task has expired - Admin Notification",
                        "expired_at.$": "$.dynamodbResult.Attributes.expired_at.S",
                        "responsibility.$": "$.dynamodbResult.Attributes.responsibility.S"
                    }
                }
            },
            "Next": "ParallelNotifications"
        },
        "ParallelNotifications": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "CreateUserEmailMessage",
                    "States": {
                        "CreateUserEmailMessage": {
                            "Type": "Pass",
                            "Parameters": {
                                "emailBody": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "Task Expired\n\nTask Name: ",
                                            {
                                                "$": "$.name"
                                            },
                                            "\nTask ID: ",
                                            {
                                                "$": "$.task_id"
                                            },
                                            "\nAssigned To: ",
                                            {
                                                "$": "$.responsibility"
                                            },
                                            "\nExpired At: ",
                                            {
                                                "$": "$.expired_at"
                                            },
                                            "\n\nThe task has been marked as expired due to passing its deadline."
                                        ]
                                    ]
                                },
                                "defaultMessage.$": "States.JsonToString($.notifications.user)",
                                "responsibility.$": "$.responsibility"
                            },
                            "Next": "NotifyUser"
                        },
                        "NotifyUser": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sns:publish",
                            "Parameters": {
                                "TopicArn": "${ClosedTasksNotificationTopic}",
                                "Message": {
                                    "default.$": "$.defaultMessage",
                                    "email.$": "$.emailBody"
                                },
                                "MessageStructure": "json",
                                "MessageAttributes": {
                                    "responsibility": {
                                        "DataType": "String",
                                        "StringValue.$": "$.responsibility"
                                    }
                                }
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "CreateAdminEmailMessage",
                    "States": {
                        "CreateAdminEmailMessage": {
                            "Type": "Pass",
                            "Parameters": {
                                "emailBody": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "[ADMIN NOTIFICATION] Task Expired\n\nTask Name: ",
                                            {
                                                "$": "$.name"
                                            },
                                            "\nTask ID: ",
                                            {
                                                "$": "$.task_id"
                                            },
                                            "\nAssigned To: ",
                                            {
                                                "$": "$.responsibility"
                                            },
                                            "\nExpired At: ",
                                            {
                                                "$": "$.expired_at"
                                            },
                                            "\n\nThis task has expired and requires administrative attention."
                                        ]
                                    ]
                                },
                                "defaultMessage.$": "States.JsonToString($.notifications.admin)",
                                "responsibility": "admin"
                            },
                            "Next": "NotifyAdmin"
                        },
                        "NotifyAdmin": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sns:publish",
                            "Parameters": {
                                "TopicArn": "${ClosedTasksNotificationTopic}",
                                "Message": {
                                    "default.$": "$.defaultMessage",
                                    "email.$": "$.emailBody"
                                },
                                "MessageStructure": "json",
                                "MessageAttributes": {
                                    "responsibility": {
                                        "DataType": "String",
                                        "StringValue": "admin"
                                    }
                                }
                            },
                            "End": true
                        }
                    }
                }
            ],
            "End": true
        }
    }
}
